#container{
    background-color: grey;
    background-size: cover;
    margin:10px;
    
    box-sizing: content-box;
}
.form-group
    {padding: 10px;

}
#name,#initial
    {margin:10px;
}

.subm{
    padding-right: 30px;
}
